<h1>Dragons</h1>

<ul>
<% @dragons.each do |dragon| %>
  <li><%= link_to dragon.name, dragon_path(dragon) %></li>
<%end%>
</ul>

<h1>Users</h1>

<ul>
<% @users.each do |user| %>
  <li><%= link_to user.name, user_path(user) %></li>
<%end%>
</ul>

<br><br>

<%= link_to "Create user", new_user_path %><br><br>

<%= link_to "Create dragon", new_dragon_path %><br><br>